/* BASE CSS */

html {
  background: url(Images/seattle1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* INDEX HTML PAGE */

/* Got replaced with LOGO Image as of right now

.name {
  font-size: 4em;
  color: white;
  font-family: 'Josefin Slab', Georgia, Verdana;
  text-align: center;
  margin: 1em 0 2em 0;
}
*/
.direction li {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 1em 2em 1em 1em;
  font-size: 1.5em;
  letter-spacing: .2em;
  font-family: 'Josefin Slab', Georgia;
  text-transform: uppercase;
  text-align: center;
}
.direction li a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
.direction li a:hover {
  color: #6495ED;
}
.direction {
  text-align: center;
}

/* CONTACT PAGE */

.contact {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  letter-spacing: .25em;
  font-family: 'Josefin Slab', 'Quicksand Light', 'Quicksand', Georgia;
  margin: 1em 0 .5em 0;
  text-transform: uppercase;
  text-align: center;
}
.contact_list li {
  display: block;
}
.contact_icon {
  text-align: center;
  margin-bottom: 2.5em;
}
.contact_icon a {
  text-decoration: none;
}
/* Index Logo Positioning. On every page */

.index_logo {
  text-align: center;
  margin: 1em 0 1em 0;
}

/* ABOUT PAGE */
.skill_list {
  color: white;
  font-size: 1.5em;
  letter-spacing: .1em;
  font-family: 'Josefin Slab', 'Quicksand Light', 'Quicksand', Georgia;
  text-align: center;
  margin: 1em 0 0 0;
}

/* Paragraph on About Page */

.about_aboutme {
  color: white;
  font-size: 1.1em;
  letter-spacing: .1em;
  font-family: 'Josefin Slab', 'Quicksand Light', 'Quicksand', Georgia;
  margin: 1em 1.5em 5em 1.5em;
}

.about_info {
  display: inline-block;
  text-align: center;
  list-style-type: none;
}
.about_info li {
  text-decoration: none;
}
.photo_list {
  text-align: center;
  margin: 1em 0 1em 0;
}
.imjosh {
  text-align: center;
  margin: 4em 0 2em 0;
}
.about_josh {
  margin: 0 0 6em 0;
}
/* Currently Removed Sections. Trying to work in photos */

/*
.about_skills {
  color: white;
  font-size: 2.5em;
  letter-spacing: .1em;
  font-family: 'Josefin Slab', 'Quicksand Light', 'Quicksand', Sans-serif;
  margin: 1em 0 .5em 0;
  text-transform: uppercase;
  text-align: center;
}
.about_list_header {
  color: white;
  font-size: 1.2em;
  letter-spacing: .1em;
  font-family: 'Josefin Slab', 'Quicksand Light', 'Quicksand', Georgia;
  margin: 1em 0 .5em 0;
  text-transform: uppercase;
  text-align: center;
}
.about_paragraph_header {
  color: white;
  font-size: 1.5em;
  letter-spacing: .1em;
  font-family: 'Josefin Slab', 'Quicksand Light', 'Quicksand', Sans-serif;
  margin: 1em 0 .5em 0;
  text-transform: uppercase;
  text-align: center;
}
*/



/* Work.html Page */

.work_info {
   color: white;
  font-size: 1.25em;
  letter-spacing: .1em;
  font-family: 'Josefin Slab', 'Quicksand Light', 'Quicksand', Georgia;
  margin: 0 1.5em .5em 1.5em;
  text-transform: uppercase;
  text-align: center;
}
