body {
  background: url(seattle1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.name {
  font-size: 4em;
  color: white;
  font-family: 'Josefin Slab', Georgia, Verdana;
  text-align: center;
  margin: 1em 0 2em 0;
}
.direction li {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 1em 2em 1em 2em;
  font-size: 1.5em;
  letter-spacing: .2em;
  font-family: 'Josefin Slab', Georgia;
  text-transform: uppercase;
}
.direction li a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
.direction li a:hover {
  color: #6495ED;
}
.direction {
  text-align: center;
}
.contact {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  letter-spacing: .1em;
  font-family: 'Josefin Slab', Georgia;
  margin: 1em 0 .5em 0;
  text-transform: uppercase;
  text-align: center;
}
.contact_list li {
  display: block;
}
.contact_icon {
  text-align: center;
  margin-bottom: 2.5em;
}
.index_logo {
  text-align: center;
  margin: 2em 0 4em 0;
}
.contact_logo {
  text-align: center;
  margin: 2em 0 0 0;
}
